body{
	background-color: white;
}


.block{
	width: 60%;
    height: 3000px;
	box-sizing: border-box;
	margin: auto;
}

#block1{
	background-color: #FF7777;
}

#block2{
	background-color: #77ff77;
}

#block3{
	background-color: #7777ff;
}