body{
	background-color: white;
}

.block{
	display: block;
	width: 100px;
	hight: 600px;
	margin: 1em auto 1em auto;
	padding: 1em;
}

#block1{
	background-color: #CCAAAA;
}

#block2{
	background-color: blue;
}