body{
	background-color: white;
}


.block{
	width: 1000px;
    height: 5000px;
	box-sizing: border-box;
	margin: auto;
}

#block1{
	background-color: #FFAAAA;
}

#block2{
	background-color: #aaffaa;
}

#block3{
	background-color: #aaaaff;
}